{% extends "base.html.twig" %}

{% block body %}
    <h1>Password Generator</h1>

    <form action=" {{path('app_generate_password')}} ">
        <div>
            <label for="length">Length</label>
            <select name="length" id="length">
            {% for i in 8..60 %}
                <option value=" {{i}} " {{ i==12 ? 'selected' }} > {{i}} </option>
            {% endfor %}
            </select>
        </div>

        <div>
            <label for="uppercase-letters">Uppercase Letters</label>
            <input type="checkbox" name="uppercaseLetters" id="uppercase-letters">
        </div>

        <div>
            <label for="digits">Digits</label>
            <input type="checkbox" name="digits" id="digits">
        </div>

        <div>
            <label for="special-characters">Special characters</label>
            <input type="checkbox" name="specialCharacters" id="special-characters">
        </div>

        <div>
            <input type="submit" value="Generate password">
        </div>
    </form>
{% endblock %}
